{% extends 'base.html.twig' %}

{% block title %}{{ sighting.title }} | Bigfoot{% endblock %}

{% block body %}
    <h1>{{ sighting.title }}</h1>
    <h4>
        Posted <time datetime="{{ sighting.createdAt|date('Y-m-d H:i') }}">{{ sighting.createdAt|time_diff }}</time>
        <br>
        "Big Foot Believability Score": {{ sighting.score }}
    </h4>


    <div>
        {{ sighting.description }}
    </div>

    <hr>

    <h3>Littlefoot (i.e. Human) Reactions</h3>
    <div>
        {% for comment in sighting.comments %}
            <div>
                <img src="{{ comment.owner.avatarUrl }}" alt="Avatar for {{ comment.owner.username }}">
                <strong>{{ comment.owner.username }}</strong>
                <span>({{ comment.owner|user_activity_text }})</span>
                from
                <time datetime="{{ comment.createdAt|date('Y-m-d H:i') }}">{{ comment.createdAt|time_diff }}</time>
                <div>
                    {{ comment.content }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

